/*** GENERAL RULES ***/
input,
button,
submit {
  border: none;
}
h4 {
  margin: 0;
}
.deep-blue {
  color: #0065fc;
}
.grey {
  color: #f2f2f2;
}

/*** MOBILE FIRST VERSION ***/

body {
  font-family: "Raleway", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 300;
}

header {
  box-sizing: border-box;
  height: 18%;
  display: flex;
  flex-direction: column;
}

#logo-container {
  display: flex;
  width: 100%;
  height: 67%;
  justify-content: center;
  align-items: center;
}

.fit-img {
  width: 140px;
  height: 60px;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 33%;
}

.nav-link {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px #f2f2f2 solid;
}

nav > a:hover {
  border-bottom: 2px #0065fc solid;
  color: #0065fc;
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

main {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

#search {
  padding: 4% 5%;
}

#title {
  width: 90%;
  font-size: 1.2rem;
  font-weight: bold;
}

#subtitle {
  width: 90%;
  font-size: 0.8rem;
}

#search-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 45px;
  border-radius: 15px;
  margin: 30px 0;
  overflow: hidden;
  border: 1px #f2f2f2 solid;
}
#search-location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16%;
  background-color: #f2f2f2;
}
#search-text {
  width: 69%;
  padding-left: 3%;
}
#search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  padding: 4%;
  background-color: #0065fc;
  color: white;
  font-weight: bold;
}
#search-button-desktop {
  display: none;
}

#filters-container {
  display: flex;
  flex-direction: column;
}
#filters-text {
  font-size: 0.9rem;
  font-weight: bold;
}

#filters {
  width: 100%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
#filters button {
  height: 45px;
  margin: 5px;
}

#filters button {
  border: 2px #f2f2f2 solid;
  border-radius: 25px;
  display: flex;
  padding-left: 0;
  align-items: center;
  font-weight: bold;
  transition: 0.7s;
  background-color: white;
}

#filters button:hover {
  background-color: #f2f2f2;
}

#filters button:nth-child(1) {
  width: 145px;
}

#filters button:nth-child(2) {
  width: 115px;
}

#filters button:nth-child(3) {
  width: 145px;
}

#filters button:nth-child(4) {
  width: 190px;
}

#filters button:hover {
  cursor: pointer;
  background-color: ##deebff;
}

#filters button i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -2px;
  height: 100%;
  width: 40px;
  border-radius: 30px;
  border: 2px #deebff solid;
  background-color: #deebff;
  color: #0065fc;
}
#filters button span {
  font-size: 0.8rem;
  margin-left: 8px;
}

#host-avalaible {
  display: flex;
  align-items: baseline;
  font-size: 0.8rem;
}
.host-avalaible-logo {
  margin-right: 5px;
  padding: 5px 8px;
  border: 2px #f2f2f2 solid;
  border-radius: 25px;
  color: #0065fc;
  font-size: 75%;
}

#hosting {
  display: flex;
  flex-direction: column;
}
#most-popular {
  background-color: #f2f2f2;
  padding: 4% 5%;
}
#most-popular-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#most-popular-header h2 {
  font-size: 1.2rem;
}

.most-popular-card {
  display: flex;
  flex-direction: row;
  height: 156px;
  padding: 5px;
  background-color: white;
  border-radius: 25px;
  margin: 15px 0;
  box-shadow: 0px 0px 10px grey;
  text-decoration: none;
}
.most-popular-card-img {
  width: 40%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
  overflow-y: hidden;
}

.most-popular-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
  width: 60%;
  height: 100%;
  padding-left: 5%;
  box-sizing: border-box;
}

.most-popular-card-text {
  display: flex;
  flex-direction: column;
}

.most-popular-card-content p {
  font-size: 0.8rem;
}
.most-popular-card-stars {
  font-size: 0.7rem;
}
#hostings-marseille {
  padding: 4% 5%;
  display: flex;
  flex-direction: column;
}
#hostings-marseille h2 {
  font-size: 1.2rem;
}

#hostings-cards-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.hostings-card {
  display: flex;
  flex-direction: column;
  height: 206px;
  padding: 5px;
  background-color: white;
  border-radius: 25px;
  margin: 15px 0;
  box-shadow: 0px 0px 10px grey;
  text-decoration: none;
}
.hostings-card-img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  overflow-y: hidden;
}
.hostings-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40%;
  padding: 2% 6%;
  box-sizing: border-box;
}
.hostings-card-content p {
  font-size: 0.8rem;
}

#activities {
  display: flex;
  flex-direction: column;
  padding: 4% 5%;
}

#activities h2 {
  font-size: 1.2rem;
}
#activities-cards-container {
  display: flex;
  flex-direction: column;
}
.activites-card {
  display: flex;
  flex-direction: column;
  height: 186px;
  background-color: white;
  border-radius: 25px;
  margin: 15px 0;
  box-shadow: 0px 0px 10px grey;
  text-decoration: none;
}
.activities-cards-grouped {
  display: flex;
  flex-direction: column;
}
.activities-card-img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  overflow-y: hidden;
}
.activities-card-title {
  padding: 15px;
}
/*** TABLET VERSION ***/
@media screen and (min-width: 768px) {
  body {
    font-size: 1.25rem;
  }
  header {
    flex-direction: row;
    padding: 0% 4%;
  }
  #logo-container {
    display: flex;
    width: 76%;
    height: 100%;
    justify-content: start;
  }
  .fit-img {
    width: 140px;
    height: 70px;
  }
  nav {
    width: 24%;
    height: 70%;
    font-size: 1rem;
  }
  .nav-link {
    border-bottom: inherit;
    border-top: 4px #f2f2f2 solid;
  }
  nav > a:hover {
    border-bottom: inherit;
    border-top: 4px #0065fc solid;
  }

  main {
    padding: 2% 4%;
  }

  #search {
    padding: 0;
  }

  #search-bar {
    width: 35%;
    font-size: 1.2rem;
  }
  #search-button {
    width: 40%;
    padding: 0;
  }
  #search-button-mobile {
    display: none;
  }
  #search-button-desktop {
    display: flex;
  }

  #filters {
    margin-left: 2%;
  }

  #filters-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  #hosting {
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
    margin: 40px 0;
  }
  #most-popular {
    padding: 2%;
    border-radius: 25px;
    width: 32%;
  }
  #hostings-marseille {
    padding: 2%;
    background-color: #f2f2f2;
    border-radius: 25px;
    width: 55%;
  }
  #hostings-cards-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .hostings-card {
    width: 30%;
  }

  .display-more {
    font-size: 1.2rem;
  }
  .hostings-card-content-title {
    font-size: 0.8rem;
  }
  #activities {
    padding: 0;
  }
  #activities-cards-container {
    flex-direction: row;
    justify-content: space-between;
    height: 480px;
  }

  .activites-card {
    margin: 0;
  }

  .activities-cards-grouped {
    width: 22%;
    justify-content: space-between;
  }
  .activites-card-big {
    width: 22%;
    height: 100%;
  }
  .activites-card-medium {
    width: 100%;
    height: 65%;
  }
  .activites-card-small {
    width: 100%;
    height: 30%;
  }

  .activities-card-img {
    height: 90%;
  }
  .activities-card-title {
    font-size: 0.8rem;
  }
}

/*** DESKTOP VERSION ***/
@media screen and (min-width: 992px) {
  body {
    font-size: 1.5rem;
  }
}
